* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #333;
	color: #ccc;

	/* Centering everything */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.answer-space {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 30rem;
	/* margin: 0 auto; */
	padding: 1rem;
	background-color: #222;
	border-radius: 0.5rem;
}

.answer-space .letter {
	/* display: inline-block; */
	width: 2rem;
	height: 2rem;
	margin: 0 0.5rem;
	border: 1px solid #666;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 2rem;
}
